/* default style */
*,::before,::after{
    box-sizing: border-box;
}

body,h1,p{
    margin: 0;
    padding: 0;
}

/* Vars */
:root{
  --bg: #e6e6e7;
  --text: #e6e6e7;
  --border: 2px solid var(--text);
  --color: #A78BFA;
  --color-hover: #835cfa;
  --shadow: rgba(0,0,0,.2);
  --fg: #111827;
}

body{
    font-family: Arial, Helvetica, sans-serif; /*our font*/
    background: var(--bg);
}

main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: 2.5rem; /*1rem = 16px*/
    color: var(--fg);
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--fg);
    box-shadow: 0px 10px 25px 3px var(--shadow);
    padding: 25px;
    border-radius: 15px;
    color: var(--text);
    font-weight: 600;
}

.login-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-wrapper form input{
    border:none;
    border-radius: 50px;
    font-size: 1rem;
    padding: 7px 10px;
    border: var(--border);
    background: var(--fg);
    color: var(--text);
    outline: none;
}

.login-wrapper form button{
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    font-size: 1rem;
    padding: 8px 14px;
    cursor: pointer;
    background: var(--color);
    color: var(--fg);
    box-shadow: 0px 5px 7px 0px var(--shadow);
    font-weight: 600;
    transition: 0.35s ease;
}

.login-wrapper form button:hover{
    background: var(--color-hover);
    box-shadow: 0px 5px 15px 0px var(--shadow);
}

.login-wrapper p a{
    color: var(--color);
    text-decoration: none;
}

.login-wrapper p a:hover{
    color: var(--color-hover);
    text-decoration: underline;
}


#login-error{
    color: rgb(255, 66, 123);
    text-align: center;
}

